<footer id="footer_01">

  <div class="col-lg-3" id="id_01">
    <table>
      <tr>
        <td>
          <img src="images/logo.png" alt="Logo-hoa-mat-troi">
        </td>
      </tr>
      <tr>
        <td>
          <strong>Shop hoa mặt trời</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Tel:</strong> 0909789534
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6" id="id_02">
    <div class="col-sm-3">
      <a href="#">Home</a>
    </div>
    <div class="col-sm-3">
      <a href="#">Chủ đề hoa</a>
    </div>
    <div class="col-sm-3">
      <a href="#">Hoa tươi</a>
    </div>
    <div class="col-sm-3">
      <a href="#">Ý nghĩa hoa </a>
    </div>
  </div>
  <div class="col-lg-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15664.437551281791!2d106.35087549809566!3d11.030419075951079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1622224606065!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
  </div>

</footer>