<header>
  <div class="row">
    <div class="col-sm-1" id="div_01">
      <img src="images/logo.png" alt="logo-hoa-mat-troi">
        </div>
    <div class="search, row" id="div_02">
      <div class="col-sm-7">
        <input type="text" name="" id="" placeholder="Search" class="search__input">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="search__button" tabIndex="-1">Search</button>
      </div>
     </div>
  </div>
</header>

<nav class="navbar navbar-inverse sticky" id="nav" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="/home"> Trang Chủ</a>
        </li>
        <li>
          <a href="/ChuDeHoa"> Chủ đề hoa</a>
        </li>
        <li>
          <a href="/HoaTuoi "> Hoa Tươi</a>
        </li>
        <li>
          <a href="/YNghiaHoa"> Ý nghĩa hoa</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="text-align: right">
          <a href="/giohang">
            <img src="../images/cart.png" width="15%" alt="gio-hang" style="padding: 0px 10px;"/>Giỏ hàng
          </a>
        </li>
        <li>
          
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>
        <li>
          <a href="/signup">
            <span class="glyphicon glyphicon-log-in"></span> Sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
