<% layout ('layout') %>
<head>
     <link rel="stylesheet" href="../css/chu_de_hoa.css"
</head>
<div id="chudehoa">
        <div id="chu-de">
            <h1> Chủ đề hoa</h1>
            <div class="chu-de-hoa-content">
                <p>
                    Hoa tươi là món quà của tạo hoá ban tặng cho loài người và hoa cũng là ngôn ngữ biết nói mà chúng ta muốn gửi tới người thân, người yêu, bạn bè. Những cánh hoa mong manh kia luôn thầm nói với chúng ta bao điều.
                </p>
            </div>
            <div class="chu-de-hoa-heading">
                <h2>1. Ngày sinh nhật</h2>
                <p>
                    Sinh nhật là 1 dịp kỷ niệm ngày sinh được tổ chức hằng năm vào ngày sinh nhật của mình, nhân dịp sự kiện này thì không thể thiếu hoa tươi và bánh kem. Hoa sinh nhật là món quà vô cùng ý nghĩa để thể hiện tình của chúng ta dành tặng cho người thân yêu
                    của mình. Hoa tươi được xem là món quà tinh thần, tinh tế độc đáo đầy bất ngờ để dành tặng cho người thân của bạn.
                </p>
            </div>
            <div class="chu-de-hoa-heading">
                <h2>2. Ngày phụ nữ Việt Nam 20/10</h2>
                <p>Vào những ngày này cả nước ta dành một sự quan tâm rất đặc biệt đến “một nữa thế giới” sẽ ấn tượng hơn nếu ta chọn đúng loại hoa mà Mẹ, vợ hoặc bạn thích thì càng nói lên rằng bạn quan trong với họ như thế nào.</p>
            </div>
            <div class="chu-de-hoa-heading">
                <h2>3. Ngày nhà giáo Việt Nam 20/11</h2>
                <p>20/11 là ngày nhà giáo Việt Nam hay có thể gọi là ngày “tôn sư học đạo” đây là dịp mà mỗi người Việt Nam chúng ta dù là học chữ hay học nghề đều cũng phải nhớ đến công ơn người mà đã từng dạy dỗ, chia sẻ những kiến thức bổ ích trên ghế
                    nhà trường hay ngoài xã hội.</p>
            </div>
            <div class="chu-de-hoa-heading">
                <h2>4. Ngày lễ tình yêu 14/2</h2>
                <p>14/2 thường hay nói là ngày Valentine, người Việt ta hay kêu là ngày lễ tình yêu, lễ tình nhân. Là ngày mà toàn thế giới tôn vinh tình yêu của đôi lứa. Là con gái thì ai cũng muốn tặng quà vào ngày này, mà đặc biệt là hoa tươi và chocolate.</p>
            </div>
        </div>
        <div id="hoa-cam-on">
            <h2 class="chu-de-hoa-subheading">Hoa cảm ơn</h2>
            <p class="para">Đôi khi trong cuộc sống có những bày tỏ, sự tri ân không thể tự mình diễn đạt hết bằng lời và khi đó những đoá hoa cảm ơn, lẵng hoa tri ân sẽ là cầu nói giúp bạn thực hiện được điều đó một cách đơn giản và hiệu quả hơn. Hoa cảm ơn được dùng
                để bày tỏ sự cảm ơn sâu sắc của mình đến với cha mẹ, người thân, thầy cô, bạn bè, đồng nghiệp… về tất cả những gì tốt đẹp nhất mà họ đã mang đến cho cuộc đời của bạn. Một bó hoa tươi đẹp, sang trọng và tinh tế sẽ là món quà ý nghĩa giúp
                nói lên tấm chân tình mà bạn dành tặng cho họ.
            </p>
            <p class="para">
                Nếu bạn thực sự cảm kích, biết ơn một người nào đó về những gì họ đã làm cho bạn thì một đoá hoa tươi thắm chứa đựng tất cả những tình cảm chân thành của bạn sẽ rất phù hợp để dành tặng đến cho người ấy. Tuy nhiên trên thế giới có rất nhiều loại hoa với
                những kiểu dáng và ý nghĩa khác nhau, được thiết kế một cách vô cùng ấn tượng và đẹp mắt để bạn có thể lựa chọn để cảm ơn đến một người nào đó. Nếu bạn có quá nhiều sự lựa chọn mà chưa biết phải chọn một bó hoa cảm ơn như thế nào thì hãy
                để Hoa Mặt Trời tư vấn giúp bạn nhé.
            </p>
            <p class="para">Một số loại hoa cảm ơn và ý nghĩa của chúng mà bạn có thể tham khảo qua và lựa chọn.</p>
            <ul>
                <li><strong>Hoa cẩm chướng: </strong> Là quà tặng thể hiện sự ái mộ, tôn kính, lòng biết ơn đến người phụ nữ</li>
                <li><strong>Hoa cẩm tú cầu: </strong> Tượng trưng cho lòng biết ơn và những cảm xúc chân thành</li>
                <li><strong>Hoa lily: </strong> Mang ý nghĩa thể hiện một sức sống vô cùng mãnh liệt. Tặng hoa lily chính là cách để thể hiện tình yêu với ba mẹ và lời chúc luôn khoẻ mạnh, sống lâu bên con cháu.</li>
                <li><strong>Hoa hồng: </strong>Biểu tượng cho sự cảm kích, biết ơn sâu sắc đối với người có ơn với chúng ta</li>
                <li><strong>Hoa lan hồ điệp: </strong>Tượng trưng cho lòng biết ơn và những cảm xúc chân thành</li>
                <li><strong>Hoa cúc: </strong>Thể hiện sự hiếu thảo, lòng biết ơn và tình yêu thương vô bờ bến dành cho mẹ của mình</li>
                <li><strong>Hoa mẫu đơn: </strong>Thể hiện sự bao dung, tình yêu thương của người mẹ</li>
            </ul>
            <div class="khung-sp-1">
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaCamOn/004.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">An Yên</p>
                    <p class="gia">4.400.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaCamOn/005.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Ánh Dương</p>
                    <p class="gia">1.000.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaCamOn/006.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Chúc Mừng Thành Công</p>
                    <p class="gia">2.400.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaCamOn/007.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Có Một Ngày</p>
                    <p class="gia">1.900.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="hoa-xin-loi">
            <h2 class="chu-de-hoa-subheading">Hoa xin lỗi</h2>
            <p class="para ">
                Người ta vẫn thường dùng hoa cho các dịp chúc mừng, những lúc tỏ bày yêu thương, nhưng mấy ai biết rằng hoa cũng được dùng rất nhiều thay cho lời xin lỗi. Hoa mang rất nhiều thông điệp, không chỉ tỏ bày tình thân mến, lòng kính trọng mà còn giúp ta thể
                hiện sự nuối tiếc, lời xin lỗi cho những sai lầm. Nếu như bạn vô tình khiến người ấy giận, sơ ý gây ra những lỗi lầm khiến người ta tổn thương mà không biết nên nói lời xin lỗi ra sao, hãy dùng những bông hoa thật đẹp xinh để tỏ lòng mình
                nhé.
            </p>
            <ul>
                <li><strong>Hoa Hồng: </strong>Đầu tiên không thể bỏ qua loài hoa mang danh “Nữ hoàng của các loài hoa” này được. Không chỉ là biểu tượng của tình yêu và sắc đẹp, hoa hồng cũng rất ngọt ngào khi biết nói lời xin lỗi. Màu đỏ là màu của tình yêu, của sự đam
                    mê, say đắm, còn những bông hồng trắng lại là biểu hiện của một lời hối lỗi chân thành, thiết tha. Vậy nên, các chàng trai à, nếu có lỡ làm cô gái của đời mình giận dỗi mà không biết nói lời xin lỗi ra sao, hãy gửi tặng nàng một bó
                    hồng xen kẽ sắc đỏ sắc trắng thật tinh tế nhé. Những đóa hoa tươi sẽ thay lời chàng :” Anh có lỗi với em” mà cầu xin sự tha thứ. Một lời xin lỗi tuy thầm lặng nhưng lại ngọt ngào, chân tình biết bao!
                </li>
                <li><strong>Hoa Cẩm Chướng: </strong>Chẳng biết từ bao giờ, những bông Cẩm Chướng nhỏ xinh lại mang danh cho sự “chân thành”. Bởi vậy, khi bạn trót lỡ hẹn hay đang cố gắng sửa chữa những lỗi lầm đối với ai, hãy gửi đi những bông hoa Cẩm Chướng đẹp xinh như một
                    lời hứa chân thành với ai. Loài hoa này thường mang tông màu pastel, dịu nhẹ mà đằm thắm biết bao. Có chăng chính sắc màu dịu dàng ấy đã làm nguôi ngoai đi phần nào cơn giận hờn của người nào đó. Những bông Cẩm Chướng màu hường sẽ
                    thay lời hứa :”Anh/Em sẽ không bao giờ như vậy nữa“. Nếu như bạn nhận được một bó hoa xen lẫn những bông Cẩm Chướng sắc trắng và hồng, thì người đó đang muốn bày tỏ sự hối hận khi trót khiến bạn đợi chờ đấy nha.</li>
                <li><strong>Hoa Tulip: </strong>Dù có nhiều màu sắc đẹp xinh, nhưng để dành cho dịp xin lỗi, người ta thường dùng những bông Tulip trắng với màu sắc của sự vị tha. Một bó hoa, một lẵng hoa với những bông Tulip trắng xen lẫn sắc hồng như một lời cầu xin tha
                    thứ chân thành từ đối phương. Sắc hoa như tỏ bày sự quan tâm sâu sắc, trân trọng của người gửi dành cho người nhận vậy.</li>
                <li><strong>Hoa Dạ Lan Hương: </strong>Dạ Lan Hương cũng mang khá nhiều màu sắc, tuy nhiên những bông Dạ Lan Hương sắc tím sẽ là phù hợp nhất để gửi đi lời xin lỗi chân thành đầy yêu thương. Sắc tím vốn đại diện cho sự thủy chung, son sắt, màu tím còn là màu của sự lãng mạn trong tình yêu. Vì vậy mà với hương thơm ngây ngất của mình, những bông Dạ Lan Hương sắc tím lại có thể làm dịu đi những giận hờn của ai với thông điệp yêu thương :”Anh chỉ có mình em“.</li>
                <li><strong>Hoa Cẩm Tú Cầu: </strong>Một loài hoa thay lời xin lỗi hình như một quả cầu vậy, đặc biệt hơn nữa là quả cầu này có rất nhiều màu như trắng, xanh, tím, hồng, đỏ và còn nhiều màu lai tạo khác nữa. Người ta gọi nó là hoa cẩm tú cầu. Loài hoa này cánh mỏng manh, chen chúc kề vai nhau tạo thành từng chùm tròn xanh ngát. Nó tượng trưng cho lòng biết ơn và những cảm xúc chân thành. Những cánh hoa mỏng manh ấy cũng có ý nghĩa của hoa xin lỗi chân thành, về lòng hối lỗi và mong muốn xin tha thứ. Một bó hoa cẩm tú cầu xanh dịu nhẹ gửi tới người bạn muốn xin lỗi sẽ là ý tưởng hay. Không những gửi gắm lời xin lỗi mà ẩn chứa sâu trong đó là tình cảm chân thật của trái tim.</li>
            </ul>
            <div class="khung-sp-1">
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaXinLoi/004.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Tự Hào</p>
                    <p class="gia">3.999.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaXinLoi/005.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Sự Tha Thứ</p>
                    <p class="gia">7.859.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaXinLoi/006.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Tận Đáy Lòng</p>
                    <p class="gia">1.549.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaXinLoi/007.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Apology Of Me </p>
                    <p class="gia">2.549.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="hoa-tot-nghiep">
            <h2 class="chu-de-hoa-subheading">Hoa tốt nghiệp </h2>
            <p class="para"> Lễ tốt nghiệp là buổi lễ quan trọng, trang nghiêm, đánh dấu bước trưởng thành của một người. Lễ tốt nghiệp thường là dịp để chúc mừng một tân cử nhân đã hoàn thành 4 năm đại học, chuẩn bị bước sang trang mới của cuộc đời. Trong những ngày
                này, các tân cử nhân thường xuất hiện trong bộ áo tốt nghiệp vô cùng tự hào, như một bước đánh dấu kết thúc những năm tháng sinh viên.
            </p>
            <p class="para">
                Lễ tốt nghiệp chắc chắn là 1 ngày trọng đại đối với mỗi con người chúng ta.. Thì việc Tặng hoa tươi vào ngày lễ tốt nghiệp năm học chắc chắn rất cần thiết đối với mỗi người. Người nhận được 1 món quà tinh thần bằng 1 đóa hoa tặng tốt nghiệp, hoặc 1 giỏ
                hoa đẹp tặng vào ngày tốt nghiệp,… Chắc chắn sẽ rất vui và hạnh phúc trong ngày đấy.
            </p>
            <p class="para">
                Cùng Hoa Mặt Trời đọc qua bài viết này để có thể hiểu rỏ hơn khi vào Lễ tốt nghiệp nên tặng hoa gì nhé.
            </p>
            <ul>
                <li><strong>Hoa hướng dương tặng tốt nghiệp : </strong>Nên lựa chọn mẫu hoa bó đẹp để tặng tốt nghiệp với màu vàng rực rỡ sẽ đại diện cho những điều vui tươi, sự tin yêu và hứa hẹn nhiều điều may mắn cho khung trời phía trước, biểu thị cho sự kiên trì quyết tâm, không bao giờ từ bỏ con đường đã chọn</li>
                <li><strong>Hoa hồng tặng tốt nghiệp : </strong>Nói đến hoa không thể không nhắc đến hoa hồng. Hoa hồng không những là chúa tể của các loài hoa mà nó còn được rất nhiều người yêu thích. Hoa hồng được tôn làm sứ giả của tình yêu trên toàn thế giới. Hoa hồng nhung đỏ thắm như màu máu được tượng trung cho sự nồng nàn, son sắt trong tình yêu. Nếu như người tốt nghiệp là người yêu của bạn, hay là một người bạn thầm để ý, thì việc tặng hoa hồng cũng như một lời bày tỏ đầy dễ thương gửi đến cho người nhận đấy.</li>
                <li><strong>Hoa cẩm chướng tặng tốt nghiệp : </strong>Nếu là lễ tốt nghiệp của bạn bè, các bạn nên tặng họ những bó hoa cẩm chướng nhé! Vì hoa cẩm chướng tượng trưng cho tình bạn thanh cao, sự quý mến, lòng trong trắng và sự chân thành nhất.</li>
                <li><strong>Hoa ly tặng tốt nghiệp : </strong>Đây là loài hoa thường được dùng trong các dịp khai trương, chúc mừng sự thành công trong đó có cả lễ tốt nghiệp… Bởi đây là các loài hoa đại diện cho sự may mắn, tài lộc và phát đạt. Cầm bó hoa này trên tay, tương lai của các tân cử nhân được mở rộng ra trước mắt, gieo vào họ những niềm hy vọng mới và thắp sáng thêm ước mơ trong lòng họ.</li>
                <li><strong>Hoa hướng dương với sắc vàng rực rỡ: </strong>Nói đến lễ tốt nghiệp là nói đến một sự kiện trọng đại và rất vui trong cuộc đời của con người, chính vì vậy người ta thường hay lựa chọn những gam màu nóng như sắc vàng, đỏ để chúc mừng cho niềm vui ấy. Bó hoa hướng dương vàng rực chính là một lựa chọn vô cùng hoàn hảo cho buổi lễ tốt nghiệp thêm phần ý nghĩa.</li>
            </ul>
            <div class="khung-sp-1">
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaTotNghiep/004.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Sunny</p>
                    <p class="gia">900.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaTotNghiep/005.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Câu Hát</p>
                    <p class="gia">456.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaTotNghiep/006.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Ngày Tươi Sáng</p>
                    <p class="gia">700.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaTotNghiep/007.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Tinh Khiết</p>
                    <p class="gia">800.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="hoa-valentine">
            <h2 class="chu-de-hoa-subheading">Hoa valentine</h2>
            <p class="para">
                Những cánh hoa mỏng manh ấy cũng có ý nghĩa của hoa xin lỗi chân thành, về lòng hối lỗi và mong muốn xin tha thứ. Một bó hoa cẩm tú cầu xanh dịu nhẹ gửi tới người bạn muốn xin lỗi sẽ là ý tưởng hay. Không những gửi gắm lời xin lỗi mà ẩn chứa sâu trong
                đó là tình cảm chân thật của trái tim.
            </p>
            <p class="para">
                Ngày Valentine có ý nghĩa gì? Chắc hẳn đến đây nhiều bạn đã phần nào đoán được ý nghĩa của ngày này. Valentine chính là dịp để cả thế giới tôn vinh tình yêu đôi lứa, tình cảm giữa các đôi tình nhân và rộng hơn là tình cảm bạn bè khác phái. Mỗi khi đến
                Valentine, người ta lại bày tỏ tình cảm cho nhau thông qua những lời chúc ngọt ngào hay những món quà ý nghĩa như thiệp, hoa hồng, socola và một số loại quà tặng đặc biệt khác (chẳng hạn đồng hồ, áo đôi, bữa tối lãng mạn...).
            </p>
            <p class="para">Hoa hồng luôn là loài hoa biểu trưng cho tình yêu, nhưng chúng không phải là loài duy nhất thể hiện sự lãng mạn. Trong dịp Valentine hãy thử thay thế thành ý dành cho người yêu bằng một bó mẫu đơn, hoa hướng dương, hoặc hoa tulip - tượng trưng
                cho hạnh phúc, thịnh vượng và cả sự ngọt ngào.
            </p>
            <ul>
                <li><strong>Hoa Hồng: </strong>Để đáp lại lời yêu thương của người ấy trong ngày 14/2 vừa qua thì các chàng trai nhà ta nên tặng những đóa hoa hồng để thể hiện tình cảm của mình. Bởi vì hoa hồng luôn là biểu tượng của tình yêu nồng nàn và lâu dài. Hoa hồng sẽ là món quà ý nghĩa dành cho các nàng.
                </li>
                <li><strong>Hoa Tulip: </strong>Nếu hoa hồng thể hiện một tình yêu nồng nàn thì hoa tulip là tượng trưng cho một cái gật đầu đồng ý nhẹ nhàng mà đầy ý tứ. Hoa tulip biểu tượng cho sự thắng lợi, và người yêu hoàn hảo. Hãy tặng hoa này cho cô nàng bạn yêu thích và nhớ đừng chọn màu vàng và đỏ bạn sẽ bị hiểu lầm đấy.</li>
                <li><strong>Hoa Hải Đường: </strong>Không phải lời yêu nào cũng được đáp lại. Nếu bạn muốn từ chối lời yêu đó mà không muốn người ấy đau lòng thì hoa hải đường là sự lựa chọn khá hoàn hảo dành cho bạn. Chúng sẽ gửi thông điệp đến người nhận nó: Chúng ta hãy giữ tình bạn thân thiết". Chúng ta không muốn mất đi một tình bạn đẹp phải không nào vì vậy bạn hãy chọn hoa hải đường nếu muốn từ chối người ấy.</li>
                <li><strong>Hoa Tử Đinh Hương: </strong>Tử đinh hương kiêu sa chính là tượng trưng của sự ngập ngừng của tình yêu thủa ban đầu. Những chàng trai rụt rè thường mượn loài hoa này thay cho lời bày tỏ: “Mỗi khi nhìn thấy em anh đều cảm thấy tim mình xao xuyến. . .  Có lẽ, anh đã yêu em mất rồi!” Một chút mong manh, một chút mơ mộng pha thêm chút e thẹn của những cánh Tử đinh hương tím biếc chính là cảm xúc đầu tiên của tình yêu. Tử đinh hương chính là lựa chọn tinh tế để các chàng bày tỏ cảm xúc với mối tình ngọt ngào mới chớm này.</li>
                <li><strong>Hoa Violet: </strong>Người Hy lạp chọn bông hoa có hương thơm nhẹ nhàng cổ điển này để làm bông hoa của thần Aphrodite, nữ thần của tình yêu và sắc đẹp. Hoa violet luôn được gắn liền với ý nghĩa của sự thủy chung, son sắt. Hoa thể hiện được một
           		tình yêu luôn luôn nồng cháy, do đó bạn hãy lựa chọn hoa mà tặng bạn gái nếu bạn là người thích sự nồng nàn mãnh liệt.</li>
            </ul>
            <div class="khung-sp-1">
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaValentine/004.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Nồng Nàn</p>
                    <p class="gia">3.500.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaValentine/005.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Tình Bạn Cao Cả</p>
                    <p class="gia">3.679.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaValentine/006.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Tình Yêu Trong Sáng</p>
                    <p class="gia">10.000.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/ChuDeHoa/HoaValentine/007.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Mãi Bên Nhau</p>
                    <p class="gia">8.000.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>