<% layout ('layout') %>
<head>
	<link rel="stylesheet" href="../css/hoa-tuoi.css">
</head>

<div id="hoa-tuoi-content">
        <div id="hoa-hong">
            <h2 class="chu-de-hoa-subheading">Hoa hồng</h2>
            <p class="para">Hoa hồng luôn được gắn liền với một tình yêu cháy bỏng, nồng nàn hay nét đẹp kiêu sa, quyến rũ. Tuy nhiên, hoa hồng còn được biết đến như biểu tượng của tình mẫu tử thiêng liêng. Bó hoa hồng tình yêu rực rỡ tặng mẹ trong những ngày lễ đặc
                biệt sẽ là món quà tuyệt vời thay lời cảm ơn chân thành của bạn đến “đấng sinh thành”.
            </p>
            <div class="khung-sp-1">
                <div class="san-pham-1">
                    <img src="../images/HoaTuoi/HoaHong/001.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Khúc ca vàng</p>
                    <p class="gia">450.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/HoaTuoi/HoaHong/002.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Xuân ngập tràng</p>
                    <p class="gia">650.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/HoaTuoi/HoaHong/003.jpg" alt="Hoa" class="hoa-image-1">
                    <p class="ten-hoa">Nơi tình yêu bắt đầu</p>
                    <p class="gia">900.000.VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
                <div class="san-pham-1">
                    <img src="../images/HoaTuoi/HoaHong/004.jpg" alt="Hoa" class="hoa-image-1" >
                    <p class="ten-hoa">Môi kề môi</p>
                    <p class="gia">1.800.000 VND</p>
                    <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                </div>
            </div>
            <div id="hoa-cuc">
                <h1>Hoa Cúc</h1>
                <p class="para">
                    Hoa Cúc tượng trưng cho sức sống, sự trường thọ và cả phúc lộc, niềm vui. Vì lẽ đó, mỗi khi đến ngày tết, người ta lại đặt trước cổng hay thềm nhà những chậu Cúc vàng với mong muốn một năm mới dồi dào sức khỏe và phúc lộc.
                </p>
                <div class="khung-sp-1">
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaCuc/001.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Hạnh phúc lứa đôi</p>
                        <p class="gia">250.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaCuc/002.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Tình yêu màu nắng</p>
                        <p class="gia">850.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaCuc/003.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Nắng hạ</p>
                        <p class="gia">500.000.VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaCuc/004.jpg" alt="Hoa" class="hoa-image-1" >
                        <p class="ten-hoa">Tinh khiết</p>
                        <p class="gia">2.800.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                </div>
            </div>
            <div id="hoa-huong-duong">
                <h1>Hoa Hướng Dương</h1>
                <p class="para"> Hoa hướng dương tượng trưng cho sự đáng yêu, trung thành và trường thọ. Phần lớn ý nghĩa của hoa hướng dương bắt nguồn từ chính cái tên của nó, chính là mặt trời - một biểu tượng mãnh liệt của sự sống. ... Ngoài ra, Hoa hướng dương được
                    biết đến là loài hoa hạnh phúc đối với người Do Thái, làm cho chúng trở thành món quà hoàn hảo để mang lại niềm vui cho ngày đặc biệt của ai đó hoặc của chính bạn..
                </p>
                <p class="para">
                    Lễ tốt nghiệp chắc chắn là 1 ngày trọng đại đối với mỗi con người chúng ta.. Thì việc Tặng hoa tươi vào ngày lễ tốt nghiệp năm học chắc chắn rất cần thiết đối với mỗi người. Người nhận được 1 món quà tinh thần bằng 1 đóa hoa tặng tốt nghiệp, hoặc 1 giỏ
                    hoa đẹp tặng vào ngày tốt nghiệp,… Chắc chắn sẽ rất vui và hạnh phúc trong ngày đấy.
                </p>
                <p class="para">
                    Cùng Hoa Mặt Trời đọc qua bài viết này để có thể hiểu rỏ hơn khi vào Lễ tốt nghiệp nên tặng hoa gì nhé.
                </p>
                <div class="khung-sp-1">
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaHuongDuong/001.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Tin yêu</p>
                        <p class="gia">300.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaHuongDuong/002.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Nắng mới</p>
                        <p class="gia">650.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaHuongDuong/003.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Mừng tốt nghiệp</p>
                        <p class="gia">900.000.VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaHuongDuong/005.jpg" alt="Hoa" class="hoa-image-1">
                        <p class=" ten-hoa ">Khởi đầu mới</p>
                        <p class="gia ">1.000.000 VND</p>
                        <a href="# " class="mua-hang ">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang "></i></a>
                    </div>
                </div>
            </div>
            <div id="hoa-ly">
                <h1>Hoa Ly Trắng</h1>
                <p class="para ">
                    Hoa Ly trắng tượng trưng cho sự trong trắng và đức hạnh. Do đó, hoa Ly trắng được cắm trong nhà thờ suốt mùa lễ Phục Sinh và được dùng để dâng lên Đức Mẹ. Và khi gửi tặng ai đó một bó ly trắng, còn có nghĩa là bạn đang người đó hạnh phúc, thịnh vượng.
                </p>
                <div class="khung-sp-1">
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaLy/001.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Mây trắng</p>
                        <p class="gia">700.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaLy/002.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Rức rỡ</p>
                        <p class="gia">650.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaLy/003.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Nắng sương mai</p>
                        <p class="gia">400.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                    <div class="san-pham-1">
                        <img src="../images/HoaTuoi/HoaLy/004.jpg" alt="Hoa" class="hoa-image-1">
                        <p class="ten-hoa">Mùa yêu</p>
                        <p class="gia">850.000 VND</p>
                        <a href="#" class="mua-hang">Thêm vào giỏ hàng <i class="fas fa-shopping-cart gio-hang"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>