<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include partials/head %>
    <link rel="icon" sizes="40x21" href="../images/logo.png">
    <link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/home.css">
	<script src="js/slide.js"></script>
</head>
<body>
    <% include partials/header %>
    <%- body -%>
    <% include partials/footer %>
</body>
</html>